# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.st

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
.vscode/settings.json
data/23_11_08_10_28_19_kayleb_flashing_stim__1699464527020_1699464500152.txt
data/23_11_08_10_45_11_kayleb_flashing_stim__1699465518988_1699465511598.txt
data/23_11_08_10_47_49_kayleb_flashing_stim__1699465687627_1699465669858.txt
data/23_11_08_11_15_54_jayden_keyboard_stim__1699467373136_1699467354896.txt
data/23_11_08_11_16_26_jayden_keyboard_stim__1699467404285_1699467387358.txt
data/23_11_08_11_32_17_jayden_keyboard_stim__1699468348793_1699468337992.txt
data/23_11_08_11_34_16_jayden_keyboard_stim__1699468485619_1699468457242.txt
data/23_11_13_10_38_11_sam_dictionary__1699897102001_1699897091847.txt
data/23_11_13_10_39_12_kayleb_flashing_stim__1699897156110_1699897153550.txt
data/23_11_13_10_39_21_sam_dictionary__1699897172406_1699897162090.txt
data/23_11_13_10_40_01_kayleb_flashing_stim__1699897221260_1699897202116.txt
data/23_11_13_10_49_38_sam_dictionary__1699897789357_1699897779196.txt
data/23_11_13_11_08_15_sam_dictionary__1699898941097_1699898895664.txt
data/23_11_13_11_17_18_sam_dictionary__1699899472066_1699899439178.stm
data/23_11_13_11_21_29_sam_dictionary__1699899699394_1699899689725.stm
23_11_08_10_28_19_kayleb_flashing_stim__1699464527020_1699464500152.txt
23_11_08_10_45_11_kayleb_flashing_stim__1699465518988_1699465511598.txt
23_11_08_10_47_49_kayleb_flashing_stim__1699465687627_1699465669858.txt
23_11_08_11_15_54_jayden_keyboard_stim__1699467373136_1699467354896.txt
23_11_08_11_16_26_jayden_keyboard_stim__1699467404285_1699467387358.txt
23_11_08_11_32_17_jayden_keyboard_stim__1699468348793_1699468337992.txt
23_11_08_11_34_16_jayden_keyboard_stim__1699468485619_1699468457242.txt
23_11_13_10_38_11_sam_dictionary__1699897102001_1699897091847.txt
23_11_13_10_39_12_kayleb_flashing_stim__1699897156110_1699897153550.txt
23_11_13_10_39_21_sam_dictionary__1699897172406_1699897162090.txt
23_11_13_10_40_01_kayleb_flashing_stim__1699897221260_1699897202116.txt
23_11_13_10_49_38_sam_dictionary__1699897789357_1699897779196.txt
23_11_13_11_08_15_sam_dictionary__1699898941097_1699898895664.txt
23_11_13_11_17_18_sam_dictionary__1699899472066_1699899439178.stm
23_11_13_11_21_29_sam_dictionary__1699899699394_1699899689725.stm
